@font-face {
  font-family: 'Inria Sans';
  src: url('./path/to/Inria Sans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('./path/to/Kanit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Headland One';
  src: url('./path/to/Headland One-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --primary-color: rgb(3, 58, 3);
  --primary-color-light:rgb(6, 104, 6);
  --primary-color-dark:rgb(15, 58, 12);
  --secondary-color: #6c757d;
  --background-color: rgb(236, 236, 236);
  --text-white: white;
  --btn-red:rgb(138, 7, 7);
  --color-black: black ;

  --paragraph-font-family: 'Inria Sans', sans-serif;
  --heading-font-family: 'Kanit', sans-serif;
  --heading-2-font-family: 'Headland One', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  background-color: var(--background-color);
}
input[type="checkbox" i] {
    background-color: transparent;
}
