.profileMain{
  display: flex;
  flex-direction: column;
  padding: 3rem 6rem;
}

.appointmentDiv{
    background-color: rgb(201, 199, 199);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.logoutBtn{
  align-self: flex-end;
  background-color: var(--btn-red);
  color: var(--text-white);
  border: none;
  padding: .7rem 1.5rem;
  border-radius: 5px;
}

.logoutBtn:hover{
  transform: scale(1.03);
  transition: all 0.3s ease;
  cursor: pointer;
}

.appointmentDiv h2{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.appointmentCard {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  background-color: rgb(228, 226, 226);
  padding: 0.8rem 1rem;
}

.appointmentCard div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.appointmentCard img {
  max-width: 3rem;
}

.spanRed{
  color:var(--btn-red);
}

.spanGreen{
  color: var(--primary-color-light);
}

.date {
  font-weight: 600;
}

.btnRed {
  align-self: flex-end;
  color: var(--text-white);
  background-color: var(--btn-red);
  padding: .6rem;
  width: fit-content;
  border: none;
  font-size: 0.8rem;
}

.btnRed:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
  cursor: pointer;
}

.btnGreen {
  background-color: var(--primary-color-dark);
  color:var(--text-white);
  padding: 0.4rem 1.5rem;
  font-weight: 600;
  border: none;
}

.btnGreen:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
  cursor: pointer;
}

.btnRed2 {
  align-self: flex-end;
  color: var(--text-white);
  background-color: var(--btn-red);
  padding: .6rem;
  width: fit-content;
  border: none;
  font-size: 0.8rem;
}

.btnRed2:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
  cursor: pointer;
}

.noData{
  color: var(--btn-red);
}

@media screen and (max-width: 768px){
  .profileMain{
    padding: 1rem;
  }
  .appointmentCard{
    flex-direction: column;
  }
  .addressHide{
    display: none;
  }
  .divCenter{
    align-self: flex-end;
  }
}
